spring:
  application:
    name: ${SPRING_APPLICATION_NAME}

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: ${DB_DRIVER}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

server:
  port: ${SERVER_PORT}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_SERVER_URL}
    register-with-eureka: true
    fetch-registry: true

  instance:
    prefer-ip-address: ${PREFER_IP_ADDRESS}
    lease-renewal-interval-in-seconds: ${LEASE_RENEWAL_INTERVAL}
    lease-expiration-duration-in-seconds: ${LEASE_EXPIRATION_DURATION}
